{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Forgot Password {% endblock %}</h1>
    <form method="POST">
        <table>
            <tr>
                <td>
                    <label for="temp_password">Temporary Password</label>
                </td>
                <td>
                    <input type="password"
                           name="temp_password"
                           placeholder="temporary password"/>
                </td>
            </tr>
            <tr>
                <td>
                    
                </td>
                <td>
                    <button type="submit"
                            class="btn btn-primary">
                        Submit
                    </button>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}