{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Forum {% endblock %}</h1>
    <hr/>

    {% for forum in forums %}
        <h5>Topic: {{ forum['topic'] }} by {{ forum['user_email'] }}</h5><br/>
        {% for comment in find_comments_by_forum_id(forum, comments) %}
            - comment: {{ comment['comment'] }} by {{ find_user_by_email(users, comment['user_email'])['first_name'] }} <br/>
        {% endfor %}
        {% if session['signed_in'] %}
            <a href="{{ url_for('create_comment', forum_id=forum['id']) }}">New Comment</a>
        {% endif %}

        <hr/>
    {% endfor %}
    
    {% if session['signed_in'] and session['is_admin'] %}
        <a href="{{ url_for('create_forum') }}">New Topic</a>
    {% endif %}

    <hr/>
{% endblock %}