{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Reset Password {% endblock %}</h1>
    <form method="POST">
        <table>
            <tr>
                <td>
                    <label for="password">Password</label>
                </td>
                <td>
                    <input type="password"
                        name="password"
                        placeholder="password"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="repeat_password">Repeat Password</label>
                </td>
                <td>
                    <input type="password"
                        name="repeat_password"
                        placeholder="repeat password"/>
                </td>
            </tr>
            <tr>
                <td>
                    
                </td>
                <td>
                    <button type="submit"
                            class="btn btn-primary">
                        Submit
                    </button>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}